/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-ene-2014, 14:54:42
    Author     : Frank
*/
.tablestayle {
    padding-left: 40px;
}

.tablestayle table {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.tablestayle tr:hover {
    background: #c1ddf1;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.tablestayle th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.tablestayle td {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 2px;
    font-size: 12px;
    text-align: left;
}

.tablestayle th {
    background-color: #157fcc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#10ABFF), to(#157fcc));
    background-image: -webkit-linear-gradient(top, #10ABFF, #157fcc);
    background-image:    -moz-linear-gradient(top, #10ABFF, #157fcc);
    background-image:     -ms-linear-gradient(top, #10ABFF, #157fcc);
    background-image:      -o-linear-gradient(top, #10ABFF, #157fcc);
    background-image:         linear-gradient(top, #10ABFF, #157fcc);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.tablestayle td:first-child, .tablestayle th:first-child {
    border-left: none;
}

.tablestayle th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.tablestayle th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.tablestayle th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.tablestayle tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.tablestayle tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
